* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ebebeb;
    font-family: 'Work Sans', sans-serif;
}

.main {
    width: 100%;
    padding: 2% 5%;
    height: 100vh;
}

.fsector {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.fsector__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 1 auto;
    position: relative;
}

.fsector__nav--logo {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.fsector__nav--logo--name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.fsector__nav--list {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-left: 25%;
}

.fsector__nav--list ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.fsector__nav--list ul li {
    margin-left: 50px;
}

.fsector__nav--list ul li a {
    color: black;
    text-decoration: none;
}

.fsector__nav--language {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}


/* -------------------- fSector Content ------------------ */
.fsector__content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}


.fsector__content--left {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    font-size: 0.9rem;
}

.fsector__content--left p {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1px;
    opacity: 0.7;
    padding-left: 10px;
}

.fsector__content--left span {
    transform: rotate(90deg);
    opacity: 0.7;
} 

.fsector__content--middle {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.fsector__content--middle-text {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 4rem;
    text-align: left;
    font-weight: 700;
    padding-top: 17%;
}

.fsector__content--middle-text span {
    font-family: 'Kalam', cursive;
}

.fsector__content--middle-text button {
    padding: 3% 8%;
    margin-top: 20px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 1px;
}

.fsector__content--middle-img {
    width: 50%;
    height: 100%;
}

.fsector__content--middle-img-img {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.fsector__content--middle-img-img img{
    position: absolute;
    object-fit: contain;
    height: auto;
    max-width: 100%;
    transform: scale(1.6);
    z-index: 1;
}

.fsector__content--right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    font-size: 0.9rem;
}

.fsector__content--right p {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 1px;
    opacity: 0.7;
    padding-right: 10px;
}

.fsector__content--right span {
    transform: rotate(-90deg);
    opacity: 0.7;
} 


/* -------------------- fSector Slides ------------------ */

.fsector__slides {
    width: 100%;
    flex: 0 1 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.fsector__slides--copyright p {
    opacity: 0.2;
}

.fsector__slides--dots i{
    margin-right: 8px;
}

.fsector__slides--dots i:last-child {
    margin-right: 0;
}

.fsector__slides--socials {
    color: rgb(100, 100, 100);
}

.fsector__slides--socials i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.fsector__slides--socials i:last-child{
    margin-right: 0;
}

.fsector__slides--socials i:last-child {
}